// positioning / floats / margins / dimensions @ top level

.hash-tracker {
	background: $blue;
	height: 800px;
	text-align: center;
	> .hash-container {
		@include vertical-align();
		display: inline-block;
		height: 400px;
		width: 800px;
	}
}

.hash-container {
	> .tagline {
		color: $white;
		font-family: "proxima-nova-soft";
		font-size: 2.5em;
	}
}

.search-hashes {
	& {
		margin-top: 32px;
	}
	> .searchtext {
		@include span-columns(9);
		height: 60px;
		color: $dark-blue;
		letter-spacing: .4px;
		font-family: "proxima-nova-soft";
		&:focus {
			outline: 0;
		}
	}
	> .searchbutton {
		@include span-columns(3);
		// background: $dark-blue;
		border: 3px solid $light-blue;
		color: $light-blue;
		background: none;
		height: 60px;
		cursor: pointer;
		font-weight: 900;
		&:hover {
			background: $green;
			color: $white;
			border: none;
			border: 3px solid $green;
		}
	}
}

.search-type {
	> .socialmedia {

	}
	> .example {

	}
}