<!DOCTYPE HTML>
<html lang="en-CA">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ site.name }} {{ page.title }}</title>
		<meta name="description" content="{{ page.description }}">
		<meta name="keywords" content="{{ page.keywords }}">

		<!-- mobile viewport -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

		<!-- typekit -->
		<script src="https://use.typekit.net/vff5xjj.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>

		<!-- css -->
		<link rel="stylesheet" href="/css/main.css">

		<!-- jquery -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/js/external/jquery-2.1.4.min.js"><\/script>')</script>

		<!-- js -->
		<script src="/js/main.min.js"></script>

	</head>
	<body>
		{% include header.html %}
		<div class="content-wrap">
		{{ content }}
		</div>
		{% include footer.html %}
		<script>
		  document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
		  ':35729/livereload.js?snipver=1"></' + 'script>')
		</script>
	</body>
</html>
