---
layout: default
title: "Home"
---
<section class="hash-tracker">
	<div class="hash-container">
		<div class="tagline">
			What would you like to track in <span class="-bold">real-time</span>?
		</div>
		<div class="search-hashes">
			<input class="searchtext" onkeydown="if(enter_pressed(event)){ enter() }" name="search" placeholder="Enter a keyword, #hashtag or URL" type="text" maxlength="60" />
			<button class="searchbutton">Search</button>
		</div>
		<div class="search-type">
			<div class="socialmedia">
				<label class="">
					<input type="checkbox" checked="checked" name="twt_check" id="twt_check"><i class="fa fa-twitter fa-2x"></i>
				</label>
				<label class="">
					<input type="checkbox" name="ig_check" id="ig_check"><i class="fa fa-instagram fa-2x"></i>
				</label>
			</div>
			<div class="example"></div>
		</div>
	</div>
</section>
<section class="client-logos">

</section>