// positioning / floats / margins / dimensions @ top level

	html, body {
		height: 100%;
	}

	body {
		font-family: $font-stack;
	}

	html, button, input, select, textarea {
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
	}

	.content-wrap {
		min-height: 100%;
		margin-bottom: -$footer-height;
		&:after {
			content: "";
			display: block;
			height: $footer-height;
		}
	}

	a {
		@extend %transition-ease-in-out;
		text-decoration: none;
		color: $white;
		cursor: pointer;
		font-weight: 300;
		&:hover {
			color: $blue;
		}
		&.active {
			font-weight: 600;
		}
	}

	input {
		border-radius: 3px;
		background: #fff;
		border: none;
		font-size: 1.5em;
		padding: 0 0 0 16px;
		font-weight: 300;
	}

	button {
		@extend %transition-ease-in-out;
		color: $white;
		border-radius: 3px;
		border: none;
		text-transform: uppercase;
		font-size: 1.25em;
		font-weight: 600;
		letter-spacing: 1px;
		font-family: "proxima-nova-soft";
	}

	.-bold {
		font-weight: 800;
	}