// positioning / floats / margins / dimensions @ top level

header {
	background: $dark-blue;
	height: $header-height;
	width: 100%;
}

.header-container {
	& {
		@include outer-container(1180px);
		line-height: 60px;
	}
}

.links-header {

}

.logo-keyhole {
	@include span-columns(2);
	> .logo {
		margin-bottom: -2px;
	}
}
.links-header {
	@include span-columns(8);
	li {
		display: inline;
		a {
			font-weight: 800;
			text-transform: uppercase;
			font-family: "proxima-nova-soft";
			font-size: .8125em;
			margin-right: 30px;
		}
		&:last-child {
			a {
				margin-right: 0;
			}
		}
	}
}
.name-user {
	@include span-columns(2);
	@include omega();
}