// variables

// fonts
$font-stack: "proxima-nova", "proxima-nova-soft", "Helvetica Neue", "Sans-Serif";

// breakpoints (include-media)
$breakpoints: (phone: 320px, tablet: 480px, small: 700px, desktop: 960px, large: 1180px);

// nav
$header-height: 60px;
$footer-height: 304px;

// nav links
$link-index: 'Home';
$link-products: 'Products';
$link-about: 'About';

// grid settings

	// visual grid
	$visual-grid: true;
	$visual-grid-color: #ff0000;
	$visual-grid-opacity: 0.4;

	// grid settings
	$column: 80px;
	$gutter: 20px;
	$grid-columns: 12;
	$max-width: 1180px;

// colors
$black: #000;
$white: #fff;

	// brand colors
	$blue: #00aced;
	$dark-blue: #34495e;
	$green: #92d626;
	$light-gray: #f2f3f5;
	$light-blue: #9cd7e9;

// typography
h1, h2, h3, h4, h5 {
	display: inline-block;
}

h1 { font-size: 1em; }
h2 { font-size: 1.25em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.75em; }
h5 { font-size: 2em; }

// animations
$transition-time: .2s;